<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" style="background: #303030; height: 93vh">
      <div>
        <mat-card class="mt-3">
          <form [formGroup]="todoForm">
            <mat-form-field appearance="outline">
              <mat-label>Task Name</mat-label>
              <input
                formControlName="item"
                matInput
                placeholder="Placeholder"
              />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>add task name</mat-hint>
            </mat-form-field>
            <button mat-raised-button color="primary">Add</button>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col-md-9"></div>
</div>
